<% provide :title, "Контакти" %>
<h1 class="text-center">Контакти</h1>
<%= render 'info'%>

<%= form_for @message, url: email_form_path, html: {data: {abide: ''}} do |f| %>
  <fieldset>
    <legend>Напишіть повідомлення</legend>
    <div class="row">
      <div class="column large-6">
        <%= f.text_field :name, placeholder: "Ім’я", required: true %>
        <small class="error">Будь-ласка представтесь.</small>
      </div>
      <div class="column large-6">
        <%= f.email_field :email, placeholder: "email", required: true, pattern: "advanced_email" %>
        <small class="error">Адреса електронної пошти відсутня або введена не вірно.</small>
      </div>
      <div class="column">
        <%= f.text_field :title, placeholder: "Тема", required: true %>
        <small class="error">Необхідно ввести тему повідомлення.</small>
      </div>
      <div class="column">
        <%= f.text_area :body, size: "60x12", placeholder: "Повідомлення", required: true, pattern: "length500" %>
        <small class="error">Повідомлення не повинно бути порожнім та більше 500 символів.</small>
      </div>
      <div class="column">
        <%= f.submit "Відправити", class: "button" %>
      </div>
    </div>
  </fieldset>
<% end %>

<!-- <a href="#" data-reveal-id="myModal"><i class="fi-mail"></i> izhachok89@gmail.com</a> -->

<!-- <div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <%#= simple_form_for @message, url: email_form_path, html: {novalidate: "novalidate", data: {abide: ''}} do |f| %>
    <%#= f.input :name, required: true %>
    <%#= f.input :email, required: true, as: :email %>
    <%#= f.input :title, required: true %>
    <%#= f.input :body, as: :text, required: true %>
    <%#= f.button :button do %>
      <i class="fi-upload" style="font-size: 20px;"></i> Відправити
    <%# end %>
  <%# end %>
</div>