<%= provide :title, Unicode::capitalize(@category.name) %>
<p><%= @category.name %></p>
  <% @artworks.map do |a|%>
      <p><%= cl_image_tag(a.picture, class: "protectMe")%></p>
      <p><%= puts a.name %></p>
      <p><%= about a %></p>
  <% end %>