<%= provide :title, Unicode::capitalize(@category.name) if @category %>

<div class="column">
  <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="pager">
    <span class="breadcrumb"><%= @category ? @category.name.capitalize : t('top-bar.gallery') %></span>
  </a>
  <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
    <ul>
      <% if params[:id] != "all" %>
      <li>
        <%= link_to t('top_bar.gallery'), category_path(id: "all") %>
      </li>
      <% end %>
      <li>
        <ul>
          <%= menu_tree_for @categories%>
        </ul>
      </li>
    </ul>
  </ul>
  <% if current_admin_user %>
      <div class='switch round right has-tip' data-tooltip aria-haspopup='true' data-options='disable_for_touch:true' title="<%= t('.change_order') %>">
          <input id='on-off' type='checkbox'>
          <label for='on-off'>
            <span class='switch-on'>ON</span>
            <span class='switch-off'>OFF</span>
          </label>
      </div>
  <% end %>
  <a data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="pager right">
    <span class="label secondary radius"><li class="fi-thumbnails large"></li></span>
  </a>
  <ul id="drop2" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
    <li><%= link_to raw("11 на сторінку"), "?page=1&per=11"%></li>
    <li><%= link_to raw("29 на сторінку"), "?page=1&per=29"%></li>
    <li><%= link_to raw("показати всі"), "?page=1&per=10000"%></li>
  </ul>

  <div class="my-gallery sortable" itemscope itemtype="http://schema.org/ImageGallery">
      <% @artworks.map do |a|%><figure data-pos="<%= a.position %>" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"><%= content_tag(:a, cl_image_tag(a.picture, border: { width: 3, color: '#ffffff' }, width: 2000, height: 200, crop: :fit, "itemprop": "thumbnail"), href: "#{a.picture.url.gsub(/upload\//, 'upload/bo_15px_solid_rgb:fff/')}", data: {size: "#{FastImage.size(a.picture.url) ? FastImage.size(a.picture.url).join("x") : FastImage.size(a.picture.url).join("x")}"}, itemprop: "contentUrl")%><figcaption itemprop="caption description"><%= about a %></figcaption></figure><% end %>
  </div>
</div>

<%= paginate @artworks, :left => 1, :right => 1, :window => 1 %>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>
    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">
        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <!--  Controls are self-explanatory. Order can be changed. -->
                <div class="pswp__counter"></div>
                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                <button class="pswp__button pswp__button--share" title="Share"></button>
                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>
            <div class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </div>
            <div class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </div>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div>
