<%= provide :title, Unicode::capitalize(@category.name) if @category %>

<div class="column">
  <a data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="pager">
    <span class="breadcrumb category"><%= @category ? @category.name.capitalize : t('top_bar.gallery') %></span>
  </a>
  <ul id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
    <ul>
      <% if params[:id] != "all" %>
      <li>
        <%= link_to t('top_bar.gallery'), category_path(id: "all") %>
      </li>
      <% end %>
      <li>
        <ul>
          <%= menu_tree_for @categories%>
        </ul>
      </li>
    </ul>
  </ul>
  <% if current_admin_user %>
      <div class='switch round right has-tip' data-tooltip aria-haspopup='true' data-options='disable_for_touch:true' title="<%= t('.change_order') %>">
          <input id='on-off' type='checkbox'>
          <label for='on-off'>
            <span class='switch-on'>ON</span>
            <span class='switch-off'>OFF</span>
          </label>
      </div>
    <a data-dropdown="drop2" aria-controls="drop2" aria-expanded="false" class="pager right">
      <span class="button secondary radius tiny"><%= t('.show') %></span>
    </a>
    <ul id="drop2" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
      <li><%= link_to raw("11 #{t('.per_page')}"), "?page=1&show=11"%></li>
      <li><%= link_to raw("29 #{t('.per_page')}"), "?page=1&show=29"%></li>
      <li><%= link_to t('.show_all'), "?page=1&show=10000"%></li>
    </ul>
  <% end %>

  <div class="my-gallery sortable" itemscope itemtype="http://schema.org/ImageGallery">
    <%= gallery_for @artworks %>
  </div>
</div>

<%= paginate @artworks, :left => 1, :right => 1, :window => 1 %>

<%= render 'photoswipe' %>
