<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>
<!--     <div class="row">
      <div class="column large-10"> -->
        <div class="your-class">
          <% (1..4).to_a.each do |i| %>
            <div><%= image_tag("#{i}.png") %>
            Море холст Олія
            </div>
          <% end %>
        </div>
<!--       </div>
    </div> -->
  </body>
</html>
