<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes">
    <title> <%= make_title yield(:title) %> </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="row">
        <div class="column medium-9 large-10 hide-for-small-only">
          <h1 class="title">
            <%= link_to image_tag('MK_red_small_logo.svg', width: '45', height: '60', class: 'logo-img'), root_path %>
            <%= link_to t('top_bar.title'), root_path%>
          </h1>
        </div>
        <div class="column medium-3 large-2 lang-icon hide-for-small-only">
          <%= link_to image_tag("gb.svg"), change_locale_path(locale: "en") %>
          <%= link_to image_tag("pl.svg"), change_locale_path(locale: "pl") %>
          <%= link_to image_tag("ua.svg"), change_locale_path(locale: "uk") %>
        </div>
      </div>
      <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name show-for-small-only">
              <%= link_to image_tag('MK_red_small_logo.svg', width: '23', height: '60', class: 'logo-img'), root_path%>
              <%= link_to t('top_bar.title'), root_path %>
              <b class="lang-icon small">
                <%= link_to image_tag("ua.svg"), change_locale_path(locale: "uk") %>
                <%= link_to image_tag("pl.svg"), change_locale_path(locale: "pl") %>
                <%= link_to image_tag("gb.svg"), change_locale_path(locale: "en") %>
              </b>
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="menu-icon toggle-topbar"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul class="left">
              <li><%= link_to raw("<i class='fi-home'></i> #{t('top_bar.main')}"), root_path %></li>
              <li><%= link_to raw("<i class='fi-info'></i> #{t('top_bar.about')}"), about_path %></li>
              <li class="has-dropdown"><%= link_to raw("<i class='fi-photo'></i> #{t('top_bar.gallery')}"), category_path(id: "all") %></a>
                <ul class="dropdown">
                  <%= menu_tree_for @categories %>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#"><i class='fi-rss'></i> <%= t('top_bar.news.title') %></a>
                <ul class="dropdown">
                  <li><%= link_to t('top_bar.news.current'), news_current_path %></li>
                  <li><%= link_to t('top_bar.news.archive'), news_archive_path %></li>
                </ul>
              </li>
              <li><%= link_to raw("<i class='fi-mail'></i> #{t('top_bar.contacts')}"), contacts_path %></li>
              <% if current_admin_user %>
                <li><%= link_to raw("<i class='fi-wrench'></i> #{t('top_bar.settings')}"), admin_root_path %></li>
              <% else %>
                <li><%= link_to raw("<i class='fi-wrench'></i>"), admin_root_path %></li>
              <% end %>
            </ul>
          </section>
        </nav>
      </div>
      <% flash.each do |key, text| %>
      <div data-alert class="alert-box <%= key %> radius">
        <%= text %>
        <a href="#" class="close">&times;</a>
      </div>
      <% end %>

      <div class="row main">
        <div class="column small-12 middle-12 large-12">
          <span class="breadcrumb" >
            <% if content_for?(:breadcrumb) %>
              <%= yield(:breadcrumb) %>
            <% end %>
          <span>
        </div>
        <%= yield %>
      </div>

      <!-- Footer -->
        <footer>
          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
              <!-- <p class="slogan"><#%= t('top_bar.title') %></p> -->
              <p class="links">
                <%= link_to raw("<i class='fi-home'></i> #{t('top_bar.main')}"), root_path %>
                <%= link_to raw("<i class='fi-info'></i> #{t('top_bar.about')}"), about_path %>
                <%= link_to raw("<i class='fi-photo'></i> #{t('top_bar.gallery')}"), category_path(id: "all") %>
                <%= link_to raw("<i class='fi-mail'></i> #{t('top_bar.contacts')}"), contacts_path %>
              </p>
            </div>
            <div class="small-12 medium-12 large-12 colunms">
              <p>
                <ul class="social-links">
                  <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100006608170519" target="blank"><i class="fi-social-facebook medium"></i></a></li>
                  <li class="pinterest"><a href="http://www.pinterest.com/izhachok/my-art/" target="blank"><i class="fi-social-pinterest medium"></i></a></li>
                  <li class="saatchiart"><a href="http://www.saatchiart.com/maksymkisilov" target="blank"><%= image_tag('saatchi-art-logo.png')%></a></li>
                </ul>
              </p>
            </div>
            <div class="small-12 medium-12 large-12 columns">
              <p class="copywrite">© 2015 Maksym Kisilov. All rights reserved.</p>
            </div>
          </div>
        </footer>
        <!-- end Footer -->
      <ul class="sortable empty"></ul>
      <a href="#0" class="cd-top">Top</a>
  </body>
</html>
