<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> <%= make_title yield(:title) %> </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
              <h1 class="hide-for-medium">
                <!-- <a>Максим Кісільов</a> -->
                <%= link_to t('top_bar.title'), root_path %>
              </h1>
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar"><a href="#"><span><%= t 'top_bar.menu' %></span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul class="right">
              <li><%= link_to raw("<i class='fi-home'></i> #{t('top_bar.main')}"), root_path %></li>
              <li><%= link_to raw("<i class='fi-info'></i> #{t('top_bar.about')}"), about_path %></li>
              <li class="has-dropdown"><a href="#"><i class='fi-photo'></i> <%= t('top_bar.gallery') %></a>
                <ul class="dropdown">
                  <%= menu_tree_for @categories %>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#"><i class='fi-rss'></i> <%= t('top_bar.news.title') %></a>
                <ul class="dropdown">
                  <li><%= link_to t('top_bar.news.current'), news_current_path %></li>
                  <li><%= link_to t('top_bar.news.archive'), news_archive_path %></li>
                </ul>
              </li>
              <li class="has-dropdown"><a href="#"><i class='fi-map'></i> <%= t('top_bar.languages.title') %></a>
                <ul class="dropdown">
                  <li><%= link_to t('top_bar.languages.uk'), news_current_path %></li>
                  <li><%= link_to t('top_bar.languages.pl'), news_current_path %></li>
                  <li><%= link_to t('top_bar.languages.en'), news_archive_path %></li>
                </ul>
              </li>
              <li><%= link_to raw("<i class='fi-mail'></i> #{t('top_bar.contacts')}"), contacts_path %></li>
              <% if current_admin_user %>
                <li><%= link_to raw("<i class='fi-wrench'></i> #{t('top_bar.settings')}"), admin_root_path %></li>
              <% else %>
                <li><%= link_to raw("<i class='fi-wrench'></i>"), admin_root_path %></li>
              <% end %>
            </ul>
          </section>
        </nav>
      </div>
      <% flash.each do |key, text| %>
      <div data-alert class="alert-box <%= key %> radius">
        <%= text %>
        <a href="#" class="close">&times;</a>
      </div>
      <% end %>

      <div class="row">
        <div class="column">
          <%= yield %>
        </div>
      </div>

      <ul id="sortable"></ul>
  </body>
</html>
