<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> <%= make_title yield(:title) %> </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="row">
        <div class="column small-7 medium-9 large-10">
          <h1 class="title">
            <!-- <a>Максим Кісільов</a> -->
            <%= link_to t('top_bar.title'), root_path %>
          </h1>
        </div>
        <div class="column small-5 medium-3 large-2 lang-icon">
          <%= link_to image_tag("ua.svg"), change_locale_path(locale: "uk") %>
          <%= link_to image_tag("pl.svg"), change_locale_path(locale: "pl") %>
          <%= link_to image_tag("gb.svg"), change_locale_path(locale: "en") %>
        </div>
      </div>
      <div class="contain-to-grid">
        <nav class="top-bar" data-topbar role="navigation">
          <ul class="title-area">
            <li class="name">
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="menu-icon toggle-topbar"><a href="#"><span></span></a></li>
          </ul>

          <section class="top-bar-section">
            <ul class="left">
              <li class="divider"></li>
              <li><%= link_to raw("<i class='fi-home'></i> #{t('top_bar.main')}"), root_path %></li>
              <li class="divider"></li>
              <li><%= link_to raw("<i class='fi-info'></i> #{t('top_bar.about')}"), about_path %></li>
              <li class="divider"></li>
              <li class="has-dropdown"><a href="#"><i class='fi-photo'></i> <%= t('top_bar.gallery') %></a>
                <ul class="dropdown">
                  <%= menu_tree_for @categories %>
                </ul>
              </li>
              <li class="divider"></li>
              <li class="has-dropdown"><a href="#"><i class='fi-rss'></i> <%= t('top_bar.news.title') %></a>
                <ul class="dropdown">
                  <li><%= link_to t('top_bar.news.current'), news_current_path %></li>
                  <li><%= link_to t('top_bar.news.archive'), news_archive_path %></li>
                </ul>
              </li>
              <li class="divider"></li>
              <li><%= link_to raw("<i class='fi-mail'></i> #{t('top_bar.contacts')}"), contacts_path %></li>
              <li class="divider"></li>
              <% if current_admin_user %>
                <li><%= link_to raw("<i class='fi-wrench'></i> #{t('top_bar.settings')}"), admin_root_path %></li>
              <% else %>
                <li><%= link_to raw("<i class='fi-wrench'></i>"), admin_root_path %></li>
              <% end %>
              <li class="divider"></li>
            </ul>
          </section>
        </nav>
      </div>
      <% flash.each do |key, text| %>
      <div data-alert class="alert-box <%= key %> radius">
        <%= text %>
        <a href="#" class="close">&times;</a>
      </div>
      <% end %>

      <div class="row">
        <div class="column small-12 middle-12 large-12">
          <span class="breadcrumb">
            <% if content_for?(:breadcrumb) %>
              <%= yield(:breadcrumb) %>
            <% end %>
          <span>
        </div>
        <%= yield %>

      </div>
      <ul class="sortable"></ul>
      <!-- Footer -->
      <footer class="footer">
        <div class="row full-width">
          <div class="large-4 medium-4 medium-push-8 grid-content">
            <p>Social icons</p>
          </div>
          <div class="large-8  medium-8 grid-content">
            <p>© 2015 Maksym Kisilov. All rights reserved.</p>
          </div>
          <!-- <div class="small-12 medium-3 large-4 columns">
            <i class="fi-laptop"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum maiores alias ea sunt facilis impedit fuga dignissimos illo quaerat iure in nobis id quos, eaque nostrum! Unde, voluptates suscipit repudiandae!</p>
          </div>
          <div class="small-12 medium-3 large-4 columns">
            <i class="fi-html5"></i>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit impedit consequuntur at! Amet sed itaque nostrum, distinctio eveniet odio, id ipsam fuga quam minima cumque nobis veniam voluptates deserunt!</p>
          </div>
          <div class="small-6 medium-3 large-2 columns">
            <h4>Work With Me</h4>
            <ul class="footer-links">
              <li><a href="#">What I Do</a></li>
              <li><a href="#">Pricing</a></li>
              <li><a href="#">Events</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">FAQ's</a></li>
            <ul>
          </div>
          <div class="small-6 medium-3 large-2 columns">
            <h4>Follow Me</h4>
            <ul class="footer-links">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Instagram</a></li>
              <li><a href="#">Dribbble</a></li>
            <ul>
          </div> -->
        </div>
      </footer>

      <a href="#0" class="cd-top">Top</a>
  </body>
</html>
