<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" href="<%= asset_path('favicon-32x32.png') %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= asset_path('favicon-16x16.png') %>" sizes="16x16" />

    <title> <%= make_title yield(:title) %> </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="row">
        <div class="column medium-12 large-12 hide-for-small-only">
          <h1 class="title">
            <%= link_to t('top_bar.title'), root_path %>
            <div class="right lang-icon">
              <%= link_to image_tag("gb.png"), change_locale_path(locale: "en") %>
              <!-- <%#= link_to image_tag("de.png"), change_locale_path(locale: "de") %> -->
              <%= link_to image_tag("ua.png"), change_locale_path(locale: "uk") %>
            </div>
          </h1>
        </div>
      </div>
      <div class="contain-to-grid">
        <div class="hide-for-small-only">
          <%= render 'layouts/main_menu' %>
        </div>
        <div class="show-for-small-only">
          <%= render 'layouts/main_menu' %>
        </div>
      </div>
      <% flash.each do |key, text| %>
      <div data-alert class="alert-box <%= key %> radius">
        <%= text %>
        <a class="close">&times;</a>
      </div>
      <% end %>

      <div class="row main">
        <div class="column">
          <span class="breadcrumb" >
            <% if content_for?(:breadcrumb) %>
              <%= yield(:breadcrumb) %>
            <% end %>
          <span>
        </div>
        <%= yield %>
      </div>

      <!-- Footer -->
        <footer>
          <div class="row">
            <div class="small-12 medium-12 large-12 columns">
               <p class="links">
                <%= link_to raw("<i class='fi-home'></i> #{t('top_bar.main')}"), root_path %>
                <%= link_to raw("<i class='fi-info'></i> #{t('top_bar.about')}"), about_path %>
                <%= link_to raw("<i class='fi-photo'></i> #{t('top_bar.gallery')}"), category_path(id: "all") %>
                <%= link_to raw("<i class='fi-mail'></i> #{t('top_bar.contacts')}"), contacts_path %>
              </p>
            </div>
            <div class="small-12 medium-12 large-12 colunms">
              <p>
                <ul class="social-links">
                  <li class="facebook"><a href="https://www.facebook.com/profile.php?id=100006608170519" target="blank"><i class="fi-social-facebook medium"></i></a></li>
                  <li class="pinterest"><a href="http://www.pinterest.com/izhachok/my-art/" target="blank"><i class="fi-social-pinterest medium"></i></a></li>
                  <li class="saatchiart"><a href="http://www.saatchiart.com/maksymkisilov" target="blank"><%= image_tag('saatchi-art-logo.png')%></a></li>
                </ul>
              </p>
            </div>
            <div class="small-12 medium-12 large-12 columns">
              <p class="copywrite">© 2015 Maksym Kisilov. All rights reserved.</p>
            </div>
          </div>
        </footer>
        <!-- end Footer -->

      <ul class="sortable empty"></ul>
      <a href="#0" class="cd-top">Top</a>
  </body>
</html>