<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> <%= make_title yield(:title) %> </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1>
              <%= link_to raw("<i class='fi-home'></i> Головна"), root_path %>
            </h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar"><a href="#"><span>Меню</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="middle">
            <li><%= link_to raw("<i class='fi-info'></i> Про себе"), about_path %></li>
            <li class="has-dropdown"><a href="#"><i class='fi-photo'></i> Галерея</a>
              <ul class="dropdown">
                <%= menu_tree_for @categories %>
              </ul>
            </li>
            <li class="has-dropdown"><a href="#"><i class='fi-rss'></i> Новини</a>
              <ul class="dropdown">
                <li><%= link_to "Поточні", news_current_path %></li>
                <li><%= link_to "Архів", news_archive_path %></li>
              </ul>
            </li>
            <li><%= link_to raw("<i class='fi-mail'></i> Контакти"), contacts_path %></li>
            <li><%= link_to raw("<i class='fi-wrench'></i> Управління"), admin_root_path if proc{ current_user } %></li>
          </ul>
        </section>
      </nav>
    </div>
    <%= puts session[:current_user] %>
    <%= yield %>
  </body>
</html>
